/* Asegurarse de que el video cubra toda la pantalla */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Pone el video detrás del contenido */
  }
  
  #background-video {
    object-fit: cover; /* Asegura que el video cubra toda la pantalla sin perder calidad */
    width: 100%;
    height: 100%;
  }
  
  /* Estilos para el contenido */
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 5px;
    font-family:  Verdana, sans-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
  }
  
p{
    font-family:  Verdana, sans-serif, sans-serif;
    text-transform: lowercase;
}

  input, button {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.075);
    border: none !important;
  }

  input:focus{
    border: none !important;
  }
  
  button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.075);
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  